---
import "../../styles/global.css";
import AgencyPageHead from "../../components/AgencyPageHead.astro";
import AgencyNavigation from "../../components/AgencyNavigation.astro";
import AgencyFooter from "../../components/AgencyFooter.astro";
import AboutHeroSection from "../../components/AboutHeroSection.astro";
import AboutValuesSection from "../../components/AboutValuesSection.astro";
import AboutCtaSection from "../../components/AboutCtaSection.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <AgencyPageHead title="Flogika About | Software Development Agency" />
  </head>
  <body>
    <div class="min-h-screen bg-white flex flex-col">
      <AgencyNavigation
        activeItem="about"
        servicesHref="/service"
        portfolioHref="/portofolio"
        aboutHref="/about"
        contactHref="#contact"
        lang="en"
        switchToEnHref="/about"
        switchToIdHref="/id/about"
      />
      <main class="flex-1 pt-24" style="view-transition-name: main-content">
        <AboutHeroSection lang="en" />
        <AboutValuesSection lang="en" />
        <AboutCtaSection lang="en" />
      </main>
      <AgencyFooter
        webDevHref="/service"
        aboutHref="/about"
        contactHref="#contact"
        lang="en"
      />
    </div>
  </body>
</html>
