---
import "../../styles/global.css";
import AgencyPageHead from "../../components/AgencyPageHead.astro";
import AgencyNavigation from "../../components/AgencyNavigation.astro";
import AgencyFooter from "../../components/AgencyFooter.astro";
import HomeLandingSections from "../../components/HomeLandingSections.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <AgencyPageHead title="Flogika | Software Development Agency" />
  </head>
  <body>
    <div class="min-h-screen bg-white flex flex-col">
      <AgencyNavigation
        activeItem="home"
        servicesHref="/en/service"
        portfolioHref="/en/portofolio"
        aboutHref="/en/about"
        contactHref="#contact"
        lang="en"
      />
      <main class="flex-1 pt-24" style="view-transition-name: main-content">
        <HomeLandingSections lang="en" />
      </main>
      <AgencyFooter
        webDevHref="/en/service"
        aboutHref="/en/about"
        contactHref="#contact"
        lang="en"
      />
    </div>
  </body>
</html>
