---
import "../../styles/global.css";
import AgencyPageHead from "../../components/AgencyPageHead.astro";
import AgencyNavigation from "../../components/AgencyNavigation.astro";
import AgencyFooter from "../../components/AgencyFooter.astro";
import ServiceHeroSection from "../../components/ServiceHeroSection.astro";
import ServiceHighlightsSection from "../../components/ServiceHighlightsSection.astro";
import ServiceTechStackSection from "../../components/ServiceTechStackSection.astro";
import ServicePricingSection from "../../components/ServicePricingSection.astro";
import ServiceCaseStudiesSection from "../../components/ServiceCaseStudiesSection.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <AgencyPageHead title="Flogika Services | Software Development Agency" />
  </head>
  <body>
    <div class="min-h-screen bg-white flex flex-col">
      <AgencyNavigation
        activeItem="services"
        servicesHref="/en/service"
        portfolioHref="/en/portofolio"
        aboutHref="/en/about"
        contactHref="#contact"
        lang="en"
        switchToEnHref="/en/service"
        switchToIdHref="/service"
      />
      <main class="flex-1 pt-24" style="view-transition-name: main-content">
        <ServiceHeroSection lang="en" />
        <ServiceHighlightsSection lang="en" />
        <ServiceTechStackSection lang="en" />
        <ServicePricingSection lang="en" />
        <ServiceCaseStudiesSection lang="en" />
      </main>
      <AgencyFooter
        webDevHref="/en/service"
        aboutHref="/en/about"
        contactHref="#contact"
        lang="en"
      />
    </div>
  </body>
</html>
