---
import "../styles/global.css";
import AgencyPageHead from "../components/AgencyPageHead.astro";
import AgencyNavigation from "../components/AgencyNavigation.astro";
import AgencyFooter from "../components/AgencyFooter.astro";
import AboutHeroSection from "../components/AboutHeroSection.astro";
import AboutValuesSection from "../components/AboutValuesSection.astro";
import AboutCtaSection from "../components/AboutCtaSection.astro";
---

<!doctype html>
<html lang="id">
  <head>
    <AgencyPageHead title="Tentang Flogika | Software Development Agency" />
  </head>
  <body>
    <div class="min-h-screen bg-white flex flex-col">
      <AgencyNavigation
        activeItem="about"
        homeHref="/"
        servicesHref="/service"
        portfolioHref="/portofolio"
        aboutHref="/about"
        contactHref="#contact"
        lang="id"
        switchToEnHref="/about"
        switchToIdHref="/about"
      />
      <main class="flex-1 pt-24" style="view-transition-name: main-content">
        <AboutHeroSection lang="id" />
        <AboutValuesSection lang="id" />
        <AboutCtaSection lang="id" />
      </main>
      <AgencyFooter
        webDevHref="/service"
        aboutHref="/about"
        contactHref="#contact"
        lang="id"
      />
    </div>
  </body>
</html>
