---
import "../styles/global.css";
import AgencyPageHead from "../components/AgencyPageHead.astro";
import AgencyNavigation from "../components/AgencyNavigation.astro";
import AgencyFooter from "../components/AgencyFooter.astro";
import InquiryHeroSection from "../components/InquiryHeroSection.astro";
import InquiryFormSection from "../components/InquiryFormSection.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <AgencyPageHead title="Project Inquiry | Web Dev Agency" />
  </head>
  <body>
    <div class="min-h-screen bg-white flex flex-col">
      <AgencyNavigation
        activeItem="inquiry"
        servicesHref="/service"
        portfolioHref="/portofolio"
        aboutHref="/about"
        contactHref="/inquiry"
        lang="en"
      />

      <main id="inquiry-form" class="flex-1 pt-32 pb-24" style="view-transition-name: main-content">
        <div class="max-w-4xl mx-auto px-6 lg:px-12">
          <InquiryHeroSection lang="en" />
          <InquiryFormSection lang="en" />
        </div>
      </main>

      <AgencyFooter
        webDevHref="/service"
        aboutHref="/about"
        contactHref="/inquiry"
        lang="en"
      />
    </div>
  </body>
</html>
